* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	font-weight: 20;
	overflow-x: hidden;


}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

a {
	text-decoration: none;
}

.contenedor {
	background-color: rgb(236, 236, 236);
	width: 100%;
	min-height: 100vh;
	margin: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'contenido		contenido 	aside'
		'footer	 		footer 		footer';
}

/* ---------- HEADER ----------*/
.header {
	grid-area: header;
	background: rgb(255, 255, 255);
	position: fixed;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	z-index: 1;
	box-shadow: 5px 0px 10px rgb(155, 155, 155);
}

.logo-container {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;


}


.logo-titulo {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	letter-spacing: 21px;
	justify-content: center;
	font-size: 32px;


}

.menu {
	border-top: 1px solid rgb(219, 219, 219);
	display: flex;
	justify-content: center;


}

.menu a {

	color: rgb(0, 0, 0);
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: fit-content;
	justify-content: center;
	transition: 0.1s ease-in-out;
	font-size: 16px;
	letter-spacing: 4px;
}

.menu a:hover {
	color: rgb(108, 175, 153);
	transform: scale(1.2);

}

.menu .menuselect {
	color: rgb(108, 175, 153);
	transform: scale(1.2);
}

/* ---------- Articulo Destacado ----------*/
.destacado {
	grid-area: destacado;
	background-size: cover;
	background-position-y: 20%;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;

	.bg-img {
		width: 100%;
		height: 100vh;
		position: absolute;
		background-image: url(../img/bicidestacada2.jpg);
		background-size: cover;


	}

	div {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		animation-name: brightness;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		overflow: hidden;


		@keyframes brightness {
			from {
				backdrop-filter: brightness(90%);

			}

			to {
				backdrop-filter: brightness(40%);

			}
		}

		h2 {
			padding-top: 10px;
			padding-bottom: 10px;
			width: 400px;
			height: fit-content;
			font-weight: 600;
			justify-content: center;
			text-align: center;
			font-size: 72px;
			animation-name: showdelay;
			animation-duration: 4s;
			animation-fill-mode: forwards;
			display: flex;

			@keyframes showdelay {
				0% {
					color: transparent;
					border-color: transparent;
				}

				10% {
					color: transparent;
					border-color: transparent;
				}

				20% {
					color: transparent;
					border-color: transparent;
				}

				30% {
					color: transparent;
					border-color: transparent;
				}

				40% {
					color: transparent;
					border-color: transparent;
				}

				50% {
					color: transparent;
					border-color: transparent;
				}

				100% {
					color: rgb(255, 255, 255);
				}
			}
		}

		h3 {
			@extend h2;
			padding-bottom: 30px;
			width: fit-content;
			font-size: 24px;
			font-weight: 600;

		}

		a {
			@extend h2;
			padding: 10px;
			width: fit-content;
			font-size: 18px;
			font-weight: 10;
			border: solid 1px white;
			text-decoration: none;

			&:hover {
				background-color: white;
				color: black !important;
			}

		}

	}

}

/* ---------- Articulos ----------*/
.contenido {
	grid-area: contenido;
	display: grid;
	grid-gap: 20px;

	.articulo {
		display: flex;
		background: #fff;
		box-shadow: 5px 5px 15px #323232;
		height: 230px;




		.contenedor-texto {
			padding: 50px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			max-height: 600px;

			h2 {
				a {
					margin-bottom: 10px;
					font-size: 25px;
					font-weight: 100;
					color: rgb(0, 0, 0);

				}

			}
		}

		.contenedor-imagen {
			width: 30%;
		}

	}
}

// BOTONES INDEX//
.btn {
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	align-self: flex-end;
	transition: 0.3s;
}

.btn--1 {
	@extend .btn;
	color: white;
	background-color: black;
}


.btn--1:hover {
	background: rgb(68, 68, 68);
	text-decoration: none;
	color: aquamarine;
}

.btn--2 {
	@extend .btn;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);

}

.btn--2:hover {
	text-decoration: none;
	color: rgb(108, 175, 153);
	background-color: black;

}

/*---------- SIDEBAR ----------*/
//USO DE MAP GET//

//declaro mi mapa//
$paleta_sidebar: ('color1': black,
	'color2': white,
	'color3':#868b8d,
);

//aplico MAP GET//
.sidebar {
	padding: 25px;
	text-align: center;
	min-height: 100px;
	grid-area: aside;
	background: map-get($map: $paleta_sidebar, $key:'color1');
	color: map-get($map: $paleta_sidebar, $key:'color3');
	text-decoration: none;
}

.img-reseñas {
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin-bottom: 25px;
}


.sidebar .menu-sidebar {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: map-get($map: $paleta_sidebar, $key: 'color1');
	justify-items: flex-end;
	margin-top: 50px;

}

.sidebar .menu-sidebar a {
	padding: 25px;
	color: map-get($map: $paleta_sidebar, $key:'color2');
	background-color: map-get($map: $paleta_sidebar, $key:'color1');
	display: flex;
	font-size: 16px;
	text-transform: uppercase;
	justify-content: center;
	transition: 0.5s;
	text-decoration: none;
}

.sidebar .menu-sidebar a:hover {
	background: #262626;
}

.res1 {
	font-size: 14px;
	margin-top: 20px;
}

.res2 {
	font-size: 14px;
	margin-top: 20px;
}








/* +++++++++++++++++++++++++++++++++++++++++   RESPONSIVE:  200-760px ++++++++++++++++++++++++++++++ */
/* ----------------------------------------INICIO------------------------------------------------- */

@media only screen and (min-width: 200px) and (max-width: 760px) {
	.body {
		font-size: 16px;
	}

	.contenedor {
		background-color: rgb(236, 236, 236);
		width: 100%;
		margin: auto;
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			'header			header   	header'
			'destacado		destacado 	destacado'
			'contenido		contenido 	contenido'
			'aside		    aside 	    aside'
			'footer	 		footer 		footer';
	}


	.menu {
		display: none;

	}

	.header {
		grid-area: header;
		background: rgb(255, 255, 255);
		position: fixed;
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: column;
		font-family: 'Oswald', sans-serif;
		letter-spacing: 7px;
		opacity: 100%;


	}

	.mobile-menu {
		z-index: 1 !important;
	}

	.nav-item {
		letter-spacing: 0px;
	}

	.nav-link:hover {
		color: rgb(108, 175, 153) !important;


	}

	.logo-container {
		display: none;
	}

	/* ---------- Articulo Destacado ----------*/
	.destacado {
		grid-area: destacado;
		background-image: url(../img/bicidestacada2.jpg);
		background-size: cover;
		background-position-y: 20%;
		background-position-x: 80%;
		display: flex;
		justify-content: center;
		height: 100vh;
		width: 100%;

		div {
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			animation-name: brightness;
			animation-duration: 2s;
			animation-fill-mode: forwards;

			@keyframes brightness {
				from {
					backdrop-filter: brightness(90%);

				}

				to {
					backdrop-filter: brightness(40%);

				}
			}


			h2 {
				padding-top: 10px;
				padding-bottom: 10px;
				width: 300px;
				height: fit-content;
				font-weight: 600;
				justify-content: center;
				text-align: center;
				font-size: 42px;
				animation-name: showdelay;
				animation-duration: 4s;
				animation-fill-mode: forwards;
				display: flex;

				@keyframes showdelay {
					0% {
						color: transparent;
						border-color: transparent;
					}

					10% {
						color: transparent;
						border-color: transparent;
					}

					20% {
						color: transparent;
						border-color: transparent;
					}

					30% {
						color: transparent;
						border-color: transparent;
					}

					40% {
						color: transparent;
						border-color: transparent;
					}

					50% {
						color: transparent;
						border-color: transparent;
					}

					100% {
						color: rgb(255, 255, 255);
					}
				}
			}

			h3 {
				padding-top: 10px;
				padding-bottom: 10px;
				width: 300px;
				height: fit-content;
				font-weight: 600;
				justify-content: center;
				text-align: center;
				font-size: 42px;
				animation-name: showdelay;
				animation-duration: 4s;
				animation-fill-mode: forwards;
				display: flex;
				padding-bottom: 30px;
				width: fit-content;
				font-size: 18px;
				font-weight: 600;

			}

			a {
				padding-top: 10px;
				padding-bottom: 10px;
				width: 300px;
				height: fit-content;
				font-weight: 600;
				justify-content: center;
				text-align: center;
				font-size: 42px;
				animation-name: showdelay;
				animation-duration: 4s;
				animation-fill-mode: forwards;
				display: flex;
				padding: 10px;
				width: fit-content;
				font-size: 18px;
				font-weight: 10;
				border: solid 1px white;
				text-decoration: none;

				&:hover {
					background-color: white;
					color: black !important;
				}

			}

		}

	}

	/* ---------- Articulos ----------*/
	.contenido {
		grid-area: contenido;
		display: grid;
		grid-gap: 20px;
		width: 100%;

		.articulo {
			display: flex;
			background: #fff;
			box-shadow: 5px 5px 10px;
			height: 230px;


			.contenedor-texto {
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				max-height: 600px;

				p {
					font-size: 14px;
				}

				h2 {
					a {
						margin-bottom: 10px;
						font-size: 24px;
						font-weight: 100;
						color: rgb(0, 0, 0);

					}

				}
			}

			.contenedor-imagen {
				width: 70%;
			}

		}
	}

	/*---------- SIDEBAR ----------*/
	.sidebarimg {
		padding: 25px;
		text-align: center;
		min-height: 100px;
		grid-area: aside;
		background-image: url(../img/item6.jpg);
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 65%;

	}
}




/* +++++++++++++++++++++++++++++++++++++++++   RESPONSIVE:(+761px)++++++++++++++++++++++++++++++ */
/* ------------------------------------------------INICIO--------------------------------------------- */



@media only screen and (min-width: 761px) {
	.body {
		font-size: 16px;
	}

	.contenedor {
		font-size: 16px;
	}

	.mobile-menu {
		display: none;
	}

	.menu a {
		padding: 10px;
		color: rgb(0, 0, 0);
		display: flex;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		width: 14%;
		justify-content: center;
		transition: 0.3s ease all;
		font-size: 12px;
	}

}

@import 'nosotros';
@import 'contacto';
@import 'galeria';
@import 'productos';
@import 'footer';